### Import Required Libraries

In [2]:
import csv, sqlite3
%load_ext sql
%sql sqlite:///healthcaredataset.db

In [3]:
!pip install ipython-sql prettytable

Requirement already satisfied: ipython-sql in d:\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in d:\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in d:\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in d:\lib\site-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in d:\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in d:\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in d:\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in d:\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in d:\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.1)
Requirement already satisfied: decorator in d:\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in d:\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\lib\site-packages (from ipython->ipython-sql) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in d:\lib\site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in d:\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in d:\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in d:\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in d:\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in d:\lib\site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in d:\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in d:\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.3)

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import prettytable

prettytable.DEFAULT = "DEFAULT"

### Connect to sqlite3

In [5]:
con = sqlite3.connect("healthcaredataset.db")
cur = con.cursor

### Create Table Using Magic SQL

In [6]:
%%sql 
CREATE TABLE Patients_datasets(
    Patient_id INTEGER PRIMARY KEY,
    Age INTEGER,
    Gender CHAR,
    Diagnosis VARCHAR(20),
    Treatment VARCHAR(20),
    Hospitalization_date DATE,
    Discharge_date DATE
);

 * sqlite:///healthcaredataset.db
(sqlite3.OperationalError) table Patients_datasets already exists
[SQL: CREATE TABLE Patients_datasets(
    Patient_id INTEGER PRIMARY KEY,
    Age INTEGER,
    Gender CHAR,
    Diagnosis VARCHAR(20),
    Treatment VARCHAR(20),
    Hospitalization_date DATE,
    Discharge_date DATE
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Adding Values to the Table

In [7]:
%%sql
INSERT INTO Patients_datasets (Patient_id, Age, Gender, Diagnosis, Treatment, Hospitalization_date, Discharge_date) VALUES
(1001, 42, "F", "Kidney Failure", "Dialysis", "2024-05-12", "2024-05-15"),
(1002, 38, "F", "Breast Cancer", "Surgery", "2024-05-11", "2024-05-18"),
(1003, 35, "M", "Urinary Tract Infection", "Antbiotics", "2024-05-03", "2024-05-04"),
(1004, 45, "M", "Joint Pain", "Physical Therapy", "2024-05-01", "2024-05-08"),
(1005, 42, "F", "Dehydration", "Serum Therapy", "2024-05-06", "2024-05-06"),
(1006, 53, "M", "Kidney Failure", "Dialysis", "2024-05-09", "2024-05-11"),
(1007, 46, "F", "Brain Tumor", "Surgery", "2024-05-01", "2024-05-18"),
(1008, 58, "M", "Cardiovascular Conjestion", "Angioplasty", "2024-05-02", "2024-05-28"),
(1009, 47, "F", "Breast Cancer", "Surgery", "2024-05-06", "2024-05-16"),
(1010, 36, "M", "Blood Infection", "Antibiotics", "2024-05-05", "2024-05-10"),
(1011, 44, "F", "Joint Pain", "Physical Therapy", "2024-06-01", "2024-06-06"),
(1012, 35, "M", "Diabetes", "Insulin Therapy", "2024-05-28", "2024-06-02"),
(1013, 39, "M", "Urinary Tract Infection", "Antibiotics", "2024-06-12", "2024-06-19"),
(1014, 41, "F", "Breast Cancer", "Surgery", "2024-06-13", "2024-06-22"),
(1015, 56, "M", "Cardiovascular Conjestion", "Angioplasty", "2024-05-21", "2024-06-08"),
(1016, 52, "F", "Blood Infection", "Antibiotics", "2024-06-10", "2024-06-16");

 * sqlite:///healthcaredataset.db
(sqlite3.IntegrityError) UNIQUE constraint failed: Patients_datasets.Patient_id
[SQL: INSERT INTO Patients_datasets (Patient_id, Age, Gender, Diagnosis, Treatment, Hospitalization_date, Discharge_date) VALUES
(1001, 42, "F", "Kidney Failure", "Dialysis", "2024-05-12", "2024-05-15"),
(1002, 38, "F", "Breast Cancer", "Surgery", "2024-05-11", "2024-05-18"),
(1003, 35, "M", "Urinary Tract Infection", "Antbiotics", "2024-05-03", "2024-05-04"),
(1004, 45, "M", "Joint Pain", "Physical Therapy", "2024-05-01", "2024-05-08"),
(1005, 42, "F", "Dehydration", "Serum Therapy", "2024-05-06", "2024-05-06"),
(1006, 53, "M", "Kidney Failure", "Dialysis", "2024-05-09", "2024-05-11"),
(1007, 46, "F", "Brain Tumor", "Surgery", "2024-05-01", "2024-05-18"),
(1008, 58, "M", "Cardiovascular Conjestion", "Angioplasty", "2024-05-02", "2024-05-28"),
(1009, 47, "F", "Breast Cancer", "Surgery", "2024-05-06", "2024-05-16"),
(1010, 36, "M", "Blood Infection", "Antibiotics", "2024-05-05", "2024-05-10"),
(1011, 44, "F", "Joint Pain", "Physical Therapy", "2024-06-01", "2024-06-06"),
(1012, 35, "M", "Diabetes", "Insulin Therapy", "2024-05-28", "2024-06-02"),
(1013, 39, "M", "Urinary Tract Infection", "Antibiotics", "2024-06-12", "2024-06-19"),
(1014, 41, "F", "Breast Cancer", "Surgery", "2024-06-13", "2024-06-22"),
(1015, 56, "M", "Cardiovascular Conjestion", "Angioplasty", "2024-05-21", "2024-06-08"),
(1016, 52, "F", "Blood Infection", "Antibiotics", "2024-06-10", "2024-06-16");]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [8]:
%%sql
SELECT * FROM Patients_datasets;

 * sqlite:///healthcaredataset.db
Done.

[(1001, 42, 'F', 'Kidney Failure', 'Dialysis', '2024-05-12', '2024-05-15'),
 (1002, 38, 'F', 'Breast Cancer', 'Surgery', '2024-05-11', '2024-05-18'),
 (1003, 35, 'M', 'Urinary Tract Infection', 'Antbiotics', '2024-05-03', '2024-05-04'),
 (1004, 45, 'M', 'Joint Pain', 'Physical Therapy', '2024-05-01', '2024-05-08'),
 (1005, 42, 'F', 'Dehydration', 'Serum Therapy', '2024-05-06', '2024-05-06'),
 (1006, 53, 'M', 'Kidney Failure', 'Dialysis', '2024-05-09', '2024-05-11'),
 (1007, 46, 'F', 'Brain Tumor', 'Surgery', '2024-05-01', '2024-05-18'),
 (1008, 58, 'M', 'Cardiovascular Conjestion', 'Angioplasty', '2024-05-02', '2024-05-28'),
 (1009, 47, 'F', 'Breast Cancer', 'Surgery', '2024-05-06', '2024-05-16'),
 (1010, 36, 'M', 'Blood Infection', 'Antibiotics', '2024-05-05', '2024-05-10'),
 (1011, 44, 'F', 'Joint Pain', 'Physical Therapy', '2024-06-01', '2024-06-06'),
 (1012, 35, 'M', 'Diabetes', 'Insulin Therapy', '2024-05-28', '2024-06-02'),
 (1013, 39, 'M', 'Urinary Tract Infection', 'Antibiotics', '2024-06-12', '2024-06-19'),
 (1014, 41, 'F', 'Breast Cancer', 'Surgery', '2024-06-13', '2024-06-22'),
 (1015, 56, 'M', 'Cardiovascular Conjestion', 'Angioplasty', '2024-05-21', '2024-06-08'),
 (1016, 52, 'F', 'Blood Infection', 'Antibiotics', '2024-06-10', '2024-06-16')]

### Retrieve all patients in the order of hospitalization date?

In [9]:
%%sql
SELECT * FROM Patients_datasets
ORDER BY Hospitalization_date;

 * sqlite:///healthcaredataset.db
Done.

[(1004, 45, 'M', 'Joint Pain', 'Physical Therapy', '2024-05-01', '2024-05-08'),
 (1007, 46, 'F', 'Brain Tumor', 'Surgery', '2024-05-01', '2024-05-18'),
 (1008, 58, 'M', 'Cardiovascular Conjestion', 'Angioplasty', '2024-05-02', '2024-05-28'),
 (1003, 35, 'M', 'Urinary Tract Infection', 'Antbiotics', '2024-05-03', '2024-05-04'),
 (1010, 36, 'M', 'Blood Infection', 'Antibiotics', '2024-05-05', '2024-05-10'),
 (1005, 42, 'F', 'Dehydration', 'Serum Therapy', '2024-05-06', '2024-05-06'),
 (1009, 47, 'F', 'Breast Cancer', 'Surgery', '2024-05-06', '2024-05-16'),
 (1006, 53, 'M', 'Kidney Failure', 'Dialysis', '2024-05-09', '2024-05-11'),
 (1002, 38, 'F', 'Breast Cancer', 'Surgery', '2024-05-11', '2024-05-18'),
 (1001, 42, 'F', 'Kidney Failure', 'Dialysis', '2024-05-12', '2024-05-15'),
 (1015, 56, 'M', 'Cardiovascular Conjestion', 'Angioplasty', '2024-05-21', '2024-06-08'),
 (1012, 35, 'M', 'Diabetes', 'Insulin Therapy', '2024-05-28', '2024-06-02'),
 (1011, 44, 'F', 'Joint Pain', 'Physical Therapy', '2024-06-01', '2024-06-06'),
 (1016, 52, 'F', 'Blood Infection', 'Antibiotics', '2024-06-10', '2024-06-16'),
 (1013, 39, 'M', 'Urinary Tract Infection', 'Antibiotics', '2024-06-12', '2024-06-19'),
 (1014, 41, 'F', 'Breast Cancer', 'Surgery', '2024-06-13', '2024-06-22')]

### Calculate the average age of all patients in each category of diseases?

In [10]:
%%sql
SELECT Patient_id, Diagnosis, AVG(Age) AS Age_average
FROM Patients_datasets
GROUP BY Diagnosis;

 * sqlite:///healthcaredataset.db
Done.

[(1010, 'Blood Infection', 44.0),
 (1007, 'Brain Tumor', 46.0),
 (1002, 'Breast Cancer', 42.0),
 (1008, 'Cardiovascular Conjestion', 57.0),
 (1005, 'Dehydration', 42.0),
 (1012, 'Diabetes', 35.0),
 (1004, 'Joint Pain', 44.5),
 (1001, 'Kidney Failure', 47.5),
 (1003, 'Urinary Tract Infection', 37.0)]

### Which patients stay more than one week in the hospital ?

In [11]:
%%sql
SELECT Patient_id, 
ROUND(julianday(Discharge_date) - julianday(Hospitalization_date)) AS Stay_duration
FROM Patients_datasets
WHERE julianday(Discharge_date) - julianday(Hospitalization_date) >  7
ORDER BY Stay_duration;

 * sqlite:///healthcaredataset.db
Done.

[(1014, 9.0), (1009, 10.0), (1007, 17.0), (1015, 18.0), (1008, 26.0)]

### Which Patients discharged before June?

In [12]:
%%sql
SELECT Patient_id, Discharge_date
FROM Patients_datasets
WHERE Discharge_date < "2024-06-01"
ORDER BY Discharge_date;

 * sqlite:///healthcaredataset.db
Done.

[(1003, '2024-05-04'),
 (1005, '2024-05-06'),
 (1004, '2024-05-08'),
 (1010, '2024-05-10'),
 (1006, '2024-05-11'),
 (1001, '2024-05-15'),
 (1009, '2024-05-16'),
 (1002, '2024-05-18'),
 (1007, '2024-05-18'),
 (1008, '2024-05-28')]

### Which Diagnosis have average stay more than 7 days?

In [13]:
%%sql 
SELECT Patient_id, Diagnosis, ROUND(AVG(julianday(Discharge_date) - julianday(Hospitalization_date)), 1) AS Average_duration_stay
FROM Patients_datasets
GROUP BY Diagnosis
HAVING AVG(julianday(Discharge_date) - julianday(Hospitalization_date)) > 7
ORDER BY Average_duration_stay;

 * sqlite:///healthcaredataset.db
Done.

[(1002, 'Breast Cancer', 8.7),
 (1007, 'Brain Tumor', 17.0),
 (1008, 'Cardiovascular Conjestion', 22.0)]

### Which diagnoses have average stay over 5 days and average patients age over 40?

In [15]:
%%sql
SELECT Diagnosis, AVG(Age) AS Average_age, ROUND(AVG(julianday(Discharge_date) - julianday(Hospitalization_date)), 1) AS Average_duration_stay
FROM Patients_datasets
GROUP BY Diagnosis
HAVING AVG(Age) > 40 AND AVG(julianday(Discharge_date) - julianday(Hospitalization_date)) > 5;

 * sqlite:///healthcaredataset.db
Done.

[('Blood Infection', 44.0, 5.5),
 ('Brain Tumor', 46.0, 17.0),
 ('Breast Cancer', 42.0, 8.7),
 ('Cardiovascular Conjestion', 57.0, 22.0),
 ('Joint Pain', 44.5, 6.0)]

### Which gender has a higher average hospitalization?

In [16]:
%%sql
SELECT Gender, ROUND(AVG(julianday(Discharge_date) - julianday(Hospitalization_date)), 1) AS Average_duration_stay
FROM Patients_datasets
GROUP BY Gender
HAVING COUNT(*) >= 2;

 * sqlite:///healthcaredataset.db
Done.

[('F', 7.1), ('M', 8.9)]

### Which diagnoses have hospitalization stay longer than average stay in the hospital?

In [17]:
%%sql
SELECT Diagnosis, ROUND(AVG(julianday(Discharge_date) - julianday(Hospitalization_date)), 1) Average_duration_stay
FROM Patients_datasets 
WHERE (julianday(Discharge_date) - julianday(Hospitalization_date)) > 
(SELECT AVG(julianday(Discharge_date) - julianday(Hospitalization_date)) FROM Patients_datasets)
ORDER BY Hospitalization_date;

 * sqlite:///healthcaredataset.db
Done.

[('Brain Tumor', 16.0)]